*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.calc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 0px;
    left: -226px;
    transition: all 0.5s;
}
.calcExibir{
    left: 0px !important;
    transition: all 0.5s;
}
.calcPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
    border: 3px solid #bbb;
    width: 226px;
    height: 390px;
    border-radius: 5px;
}
.div_nome{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
}
.div_display{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
}
.odisplay{
    width: 218px;
    background-color: #8a8;
    text-align: right;
    padding: 5px;
    font-family: monospace;
    font-size: larger;
}
.div_teclas{
    display: flex;
    justify-content: center;
    align-items: center;
    width:218px;
    flex-wrap: wrap;
}
.tecla{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    border: 3px solid #888;
    border-radius: 10px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 2px;
}
.teclaop{
    background-color: #f44 !important;
    border-color: #800 !important;
}
.calcAba{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
}
.botao{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 32px;
    background-color: #ccc !important;
    cursor: pointer;
    border: 1px solid black;
}
@media (prefers-color-scheme: dark) { 
  body{
     color: #fff;
     background-color: #111;
  }
    .calcPrincipal{
        background-color: #222;
    }  
    .odisplay{
    background-color: #464;
    }
}